body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
box-sizing: border-box;
}

 table td{
     display: block;
    width: 200px;
    height: 200px;
    margin:0;
    padding: 0;
box-sizing: border-box;
margin:  15rem     ;
}
img{
 
object-fit: cover;
width: 100%;
height: 100%;
margin:0;
padding: 0;
box-sizing: border-box;
transition: .4s ease;
}
img:hover{
transform: scale(2);
transition: .4s ease;
}